.home {
    color: white;
}

.game-list {
    margin: 3em 10em 0 10em;
}

.cards {
    background-color: #5F809E;
}

.game-list .pc-title {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0.3em
}