.custom-card {
    display: inline-block;
    margin: 0.2em;
    background-color: #2A2A2A;
    width: 31em;
}

.cover {
    width: 100%;
    object-fit: cover;
}

.weight-sm {
    margin: 1em;
    font-weight: 300;
    font-size: 1.5em;
}

.custom-card .card-body p {
    font-weight: 100;
}